@*
<link rel="stylesheet" href="~/lib/fireworks/fireworks.css">

<div class="firework firework1"></div>
<div class="firework firework2"></div>
<div class="firework firework3"></div>
<div class="firework firework4"></div>
<div class="firework firework5"></div>

<script src="~/lib/fireworks/fireworks.js"></script>
*@

<script src="~/lib/event-effects/fireworks/phaohoa.js"></script>