@{
    bool useSlow = false;
}

@if (useSlow)
{
    <script src="~/lib/event-effects/spring-flower/slow/spring-flower.js"></script>
}
else
{
    <link rel="stylesheet" href="~/lib/event-effects/spring-flower/spring-flower.css">

    <div class="falling-leaves">
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
        <div class="flowerAnt"></div>
    </div>
}