@implements IDialogContentComponent

<div>
    <FluentTextField Class="w-100" @bind-Value="@newRole.Name" Label="Name" Required />
</div>

<div class="mt-3">
     <FluentTextField Class="w-100" @bind-Value="@newRole.Description" Label="Description" Required />
</div>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick=CreateAsync>Create</FluentButton>
</FluentDialogFooter>

@code {
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = null!;

    private CreateRoleRequest newRole = new();

    private async Task CreateAsync()
    {
        await ExecuteService.CallGuardedAsync(
            () => RoleService.CreateAsync(newRole),
            $"New role {newRole.Name} created",
            Dialog);
    }
}
