@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<FluentDesignTheme OfficeColor="OfficeColor.Teams" />

<FluentLayout>

    <Spinner />

    <FluentHeader Class="siteheader" Style="color: black">
        @WebSettings.CompanyName
        <UserMenu />
        <div class="settings">
            
        </div>
    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal">

        <SideNav Expanded="expanded" />

        <FluentBodyContent Class="body-content justify-content-center">
            <div class="content" style="max-width: 1200px">
                @Body
            </div>
        </FluentBodyContent>

    </FluentStack>

    <FluentFooter>
        <a href="#" target="_blank">@WebSettings.AppName</a>
        <FluentSpacer />
        <a href="#" target="_blank">© 2024 @WebSettings.CompanyName</a>
    </FluentFooter>

</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool expanded = true;

    public void DrawerToggle() => expanded = !expanded;
}
