@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<FluentDesignTheme OfficeColor="OfficeColor.Teams" />

<FluentLayout>

    <FluentHeader Class="siteheader" Style="color: black">
        AppName
        <UserMenu />
        <div class="settings">
            
        </div>
    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal">

        <SideNav Expanded="expanded" />

        <FluentBodyContent Class="body-content" style="justify-content: center">
            <div class="content" style="max-width: 1150px">
                @Body
            </div>
        </FluentBodyContent>

    </FluentStack>

    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>

</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool expanded = true;

    public void DrawerToggle() => expanded = !expanded;
}
