@page "/access-denied"
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<div class="py-4 text-center">
    <div class="display-1 fw-bold text-warning">
        <i class="fa fa-ban opacity-50 me-1"></i> 403
    </div>
    @*<h1 class="fw-bold mt-5 mb-2">Oops.. You just found an error page..</h1>*@
    <h1 class="fw-bold mt-5 mb-2">Oops..</h1>
    <h2 class="fs-4 fw-medium text-muted mb-5">We are sorry but you do not have permission to access this page.</h2>
</div>