@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="animated fadeInRight">
    <div class="card mt-5 p-0">
        <div class="card-body p-0" style="text-align: center; background-color:transparent">
            <img src="~/images/dotnet/InfomationTechnology.png" style="width: 100%; max-width: 950px" />
        </div>
    </div>
</div>