<div id="spinner-container" class="spinner-container">
    @*
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
    *@

    <link rel="stylesheet" href="~/lib/loader/smile/smile-loader.css">

    <div class="leftEye"></div>
    <div class="rightEye"></div>
    <div class="mouth"></div>

</div>
