<li class="dropdown pc-h-item">
    <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="false" aria-expanded="false">
        <svg id="notification-icon" class="pc-icon">
            <use xlink:href="#custom-notification"></use>
        </svg>
        <span id="notification-count"></span>
    </a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
        <div class="dropdown-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Notifications</h5>
            <a asp-action="Index" asp-controller="Notifications" asp-area="" class="btn btn-link btn-sm">View all</a>
        </div>
        <div class="dropdown-body text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
            <div id="notification-entries"></div>
        </div>
        @*
        <div class="text-center py-2">
            <a asp-action="Index" asp-controller="Notifications" asp-area="" class="link-info">All Notifications</a>
        </div>
        *@
    </div>
</li>